<p id="notice"><%= notice %></p>

<% if @profile.image.url %>
  <p>
    <strong>Image</strong>
    <%= image_tag @profile.image.url %>
  </p>
<% end %>

<p>
  <strong>Name</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>