<section>
  <p id="notice"><%= notice %></p>

  <div class="control-bar">
    <div class="flex justc-c align-c">
      <h3 class="flex-1">Skills</h3>
      <div class="flex-1 tar">
        <%= link_to 'Create', new_skill_path, class: 'btn btn-secundary' %>
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= image_tag skill.icon.url %></td>
          <td><%= skill.name %></td>
          <td><%= link_to 'View', skill %> <%= link_to 'Edit', edit_skill_path(skill) %> <%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
