<section>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Icon</strong>
    <%= image_tag @skill.icon.url %>
  </p>

  <p>
    <strong>Name</strong>
    <%= @skill.name %>
  </p>

  <%= link_to 'Edit', edit_skill_path(@skill) %> |
  <%= link_to 'Back', skills_path %>
</section>
