<main>
  <section class="s-1 flex align-c justc-end">
    <div class="tar">
      <%= image_tag @profile.image.url, class: 'ig-profile'%>
      <h1><%= @profile.name %></h1>
      <h2><%= @profile.description %></h2>
    </div>
    <div class="bot-fade"></div>
  </section>

  <section class="s-2 tac">
    <h1>What I do</h1>
    <ul class="skills flex justc-c align-c f-wrap">
      <% @skills.each do |skill| %>
        <li>
          <%= image_tag skill.icon.url, alt:skill.name %>
          <p><%= skill.name %></p>
        </li>
      <% end %>
    </ul>
  </section>
</main>

<footer class="flex">
  <p>Contact me</p>
  <ul class="social flex flex-1 justc-end">
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to(contact.link, target:'_blank') do %>
          <img src="<%= contact.icon.url %>" alt="<%= contact.social %>">
        <% end %>
      </li>
    <% end %>
  </ul>
</footer>