<section>
  <p id="notice"><%= notice %></p>

  <div class="control-bar">
    <div class="flex justc-c align-c">
      <h3 class="flex-1">Contacts</h3>
      <div class="flex-1 tar">
        <%= link_to 'Create', new_contact_path, class: 'btn btn-secundary' %>
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Social</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= image_tag contact.icon.thumb.url %></td>
          <td><%= contact.social %></td>
          <td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>