<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=yes">

    <meta property="og:title" content="Ricardo Gonçalves - Web Developer" />
    <meta property="og:description" content="Web Developer based in Lisbon" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Ricardo Gonçalves - Web Developer" />

    <meta name="twitter:title" content="Ricardo Gonçalves">
    
    <meta name="description" content="Web Developer based in Lisbon">
    <meta name="keywords" content="HTML,CSS,Rails,JavaScript" />
    <meta name="author" content="Ricardo Gonçalves"><meta name="twitter:description" content="Web Developer based in Lisbon">

    <title>Riagoncalves Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
